<!DOCTYPE html>
<html lang="en">

<head>
		<meta charset="utf-8">
		<title>QuoteMe – The Simplest Chat Platform</title>
		<meta name="description" content="#">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap core CSS -->
		<link href="{{url_for('static', filename='dist/css/lib/bootstrap.min.css')}}" type="text/css" rel="stylesheet">
		<!-- Swipe core CSS -->
		<link href="{{url_for('static', filename='dist/css/swipe.min.css')}}" type="text/css" rel="stylesheet">
		<link href="{{url_for('static', filename='dist/css/chat_style.css')}}" type="text/css" rel="stylesheet">
		<!-- Favicon -->
		<link href="{{url_for('static', filename='dist/img/favicon.png')}}" type="image/png" rel="icon">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
		<!-- Bootstrap -->
		

</head>
	<body>
		<!-- Flash error messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <p class=formError>{{ messages[0] }}</p>
            {% endif %}
        {% endwith %}

		<main>
			<div class="layout">
				<!-- Start of Navigation -->
				<div class="navigation">
					<div class="container">
						<div class="inside">
							<div class="nav nav-tab menu">
								<a href="#members" data-toggle="tab"><i class="material-icons ">account_circle</i></a>
								<!-- <a href="#members" class="btn power" data-toggle="tab"><i class="material-icons ">account_circle</i></a> -->
								
								<a  id="logout-btn" href="/logout"><button class="btn power" ><i class="material-icons">power_settings_new</i></button></a> 
							</div>
						</div>
					</div>
				</div>
				<!-- End of Navigation -->
				<!-- Start of Sidebar -->
				<div class="sidebar" id="sidebar">
					<div class="container">
						<div class="col-md-12">
							<div class="tab-content">
								<!-- Start of Contacts -->
								<div class="tab-pane fade" id="members">
									
									<div class="list-group sort">
										<button class="btn filterMembersBtn active show" data-toggle="list" data-filter="all">All</button>
										<button class="btn filterMembersBtn" data-toggle="list" data-filter="online">Online</button>
										<button class="btn filterMembersBtn" data-toggle="list" data-filter="offline">Offline</button>
									</div>						
									<div class="contacts">
										<h1>Rooms</h1>
										<div class="list-group" id="contacts" role="tablist">
											{% for room in rooms %}
                        						<p id="{{ room|title }}" class="select-room cursor-pointer">{{ room|title }}</p>
                    						{% endfor %}
										</div>
									</div>
								</div>
								<!-- End of Contacts -->
								<!-- Start of Discussions -->
								<div id="discussions" class="tab-pane fade active show">
									
								</div>
								
							</div>
						</div>
					</div>
				</div>
				
				
				<!-- End of Create Chat -->
				<div class="main">
					<div class="tab-content" id="nav-tabContent">
						<!-- Start of Babble -->
						<div class="babble tab-pane fade active show" id="list-chat" role="tabpanel" aria-labelledby="list-chat-list">
							<!-- Start of Chat -->
							<div class="chat" id="chat1">
								<div class="top">
									<div class="container">
										<div class="col-md-12">
											<div class="inside">
												<a href="#"><img class="avatar-md" src="{{url_for('static', filename='dist/img/favicon.png') }}" data-toggle="tooltip" data-placement="top" title="{{ username }}" alt="avatar"></a>
												<div class="status">
													<i class="material-icons online">fiber_manual_record</i>
												</div>
												<div class="data">
													<h5><a href="#">{{ username }}</a></h5>
													<span>Active now</span>
												</div>
												
												<div class="dropdown">
													<button class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons md-30">more_vert</i></button>
													<div class="dropdown-menu dropdown-menu-right">
														
														<button class="dropdown-item"><i class="material-icons">clear</i>Clear History</button>
														<button class="dropdown-item"><i class="material-icons">block</i>Block Contact</button>
														<button class="dropdown-item"><i class="material-icons">delete</i>Delete Contact</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<div class="content" id="content">
									<div class="container">
										
										<div class="col-md-12">
											<div id="display-message-section" >
											</div>
											<span></span>
										</div>
									</div>
								</div>
								<div class="container">
									<div class="col-md-12">
										<div class="bottom">
											
												<textarea id="user_message" class="form-control" placeholder="Start typing for reply..." rows="1"></textarea>
												<button class="btn emoticons"><i class="material-icons">insert_emoticon</i></button>
												<button id="send_message" type="submit" class="btn send"><i class="material-icons">send</i></button>
											
											
										</div>
									</div>
								</div>
							</div>
							
					    </div>
				    </div>
			    </div> 
</main>

		<!-- Get username -->
		<span id="get-username">{{ username }}</span>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.min.js"></script>
		
		<!-- Custom SocketIO JS -->
		<script src="{{ url_for('static', filename='scripts/socketio.js') }}"></script>
		<script src="{{ url_for('static', filename='scripts/chat_page.js') }}"></script>
		<!-- Bootstrap/Swipe core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="{{url_for('static', filename='dist/js/jquery-3.3.1.slim.min.js')}}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script>window.jQuery || document.write('<script src="{{url_for('static', filename='dist/js/vendor/jquery-slim.min.js')}}"><\/script>')</script>
		<script src="{{url_for('static', filename='dist/js/vendor/popper.min.js')}}"></script>
		<script src="{{url_for('static', filename='dist/js/swipe.min.js')}}"></script>
		<script src="{{url_for('static', filename='dist/js/bootstrap.min.js')}}"></script>
		<script>
			function scrollToBottom(el) { el.scrollTop = el.scrollHeight; }
			scrollToBottom(document.getElementById('content'));
		</script>
	</body>

</html>
